div {
  background-color: rgb(162, 127, 243);
  color: white;
  padding: 40px;
  font-family: 고딕;
  text-align: center;
}

h1 {
  color: white;
  background-color: rgb(162, 0, 243);
  padding: 20px;
  border-radius: 10px;
}

